.weather-app {
  background-color: #EEF6FB;
  width: 100%;
  height: 100vh;
  p {
    margin: 0;
    padding: 0;
  }
}

.weather-widget {
  max-width: 800px;
  margin: 0 auto;
}

.weather-widget {
  .city-wrapper {
    display: flex;
    padding: 2rem;
    .city {
      margin: 0 auto;
      text-transform: uppercase;

      color: #84878C;
      font-size: 20px;
      letter-spacing: 2px;
      cursor: pointer;
      &.active {
        color: aqua;
      }
    }
  }
}

.container {
  
}