@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Teko', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: clamp(1.3rem, 4rem, 2rem);
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}